#creatediscussion-modal form {
    margin: 0;
}

#creatediscussion-modal .modal-body label h4 {
    margin-top: 0;
}

#creatediscussion-modal #creatediscussion-name,
#creatediscussion-modal #creatediscussion-topic {
    width: 100%;
}

#creatediscussion-modal #creatediscussion-topic {
    height: 75px;
    resize: vertical;
}

#creatediscussion-modal #creatediscussion-permissions {
    margin: 25px 0 0;
    max-height: 88px;
    overflow: auto;
}

#creatediscussion-modal #creatediscussion-permissions-summary > div {
    overflow: auto;
    padding-left: 15px;
    padding-right: 20px;
}
