/* Join group */

#group-join-container {
    display: table;
    width: 100%;
}

#group-join-container #group-join {
    display: table-cell;
    height: 350px;
    vertical-align: middle;
}

#group-join-container #group-join > div {
    margin-bottom: 15px;
}



#manageaccess-modal #manageaccess-overview-visibility.well,
#manageaccess-modal #manageaccess-overview-shared.well {
    padding: 10px;
    margin-bottom: 25px;
}

#manageaccess-modal #manageaccess-change-visibility {
    margin-top: -5px;
}

#manageaccess-modal #manageaccess-overview-shared.well {
    height: 238px;
    margin-bottom: 0;
    overflow: auto;
}

#manageaccess-modal #manageaccess-overview-selected > li .vle-listitem {
    background-color: #FFF;
}

#manageaccess-modal #manageaccess-overview-selected > li:last-child .vle-listitem {
    margin-bottom: 10px;
}

#manageaccess-modal #manageaccess-overview-selected > li .vle-listitem h3 {
    max-width: 230px;
}

#manageaccess-modal #manageaccess-overview-selected > li .vle-listitem-actions select {
    width: 150px;
}

#manageaccess-modal #manageaccess-overview-selected > li .vle-listitem-actions .close {
    padding: 5px 0 0 10px;
}

#manageaccess-modal #manageaccess-overview-selected > li:only-child .vle-listitem-actions .close {
    display: none;
}

/* Share panel */

#manageaccess-modal #manageaccess-share-add-more i {
    font-size: 13px;
    margin-right: 2px;
}

#manageaccess-modal #manageaccess-share-role {
    margin: 12px 0 0;
}

#manageaccess-modal label[for="manageaccess-share-role"] {
    font-weight: 200;
    margin: 17px 10px 0 0;
}

