
#topnavigation_container {
    line-height: 5;
    margin-bottom: 5px;
}

/** MENU ITEMS **/

.topnavigation-menu-buttons {
    margin-bottom: 0px;
}

#topnavigation-notification-count {
    top: -4px;
}

.topnavigation-menu-buttons a:hover, .topnavigation-menu-buttons .btn-link:hover {
    text-decoration: none;
}

/** SEARCH **/

#topnavigation_search_form {
    margin-bottom: 0px;
    margin-right: 32px;
}

#topnavigation_search_form #topnavigation_search_query {
    padding-right: 30px;
}

#topnavigation_search_form #topnavigation_search_icon {
    margin-left: -30px;
    margin-top: 2px;
    padding: 0px;
    opacity: 0.6;
}

#topnavigation_search_form #topnavigation_search_icon i {
    font-size: 18px;
}

/** SIGN IN DROPDOWN **/

.topnavigation-signin-dropdown-single {
    width: 220px;
}

.topnavigation-signin-dropdown-double {
    width: 475px;
}

.topnavigation-signin-dropdown-double #topnavigation-signin-external {
    padding: 10px 5px 10px 0;
}

.topnavigation-signin-dropdown-double #topnavigation-signin-internal {
    margin-left: 0px;
    border-left: 1px dotted #D4D4D4;
    padding-left: 15px;
}

#topnavigation-signin-dropdown #topnavigation-login-actions {
    min-height: 30px;
}

#topnavigation-signin-dropdown #topnavigation-login-actions > span {
    position: relative;
    top: 5px;
}

#topnavigation-signin-dropdown #topnavigation-signin-signup {
    padding: 0 0 2px 2px;
}

/* AUTH BUTTON OVERRIDES */

#topnavigation-signin-dropdown .btn-auth {
    height: auto;
    margin: 5px 0;
    padding: 3px 10px 3px 20px;
    text-align: left;
    white-space: normal;
    width: 175px;
}

#topnavigation-signin-dropdown .btn-auth > div {
    overflow: hidden;
}

#topnavigation-signin-dropdown .btn-auth.btn-cas:before,
#topnavigation-signin-dropdown .btn-auth.btn-shibboleth:before {
    background: none;
}

/* Left Hand Navigation */

#lhnavigation-container {
    padding: 5px 10px;
}

#lhnavigation-page {
    padding: 5px 75px 50px 0px;
}

@media screen and (max-width: 1200px) {
    #lhnavigation-container.row-fluid .span2 {
        width: 23.4043%;
    }
    #lhnavigation-container.row-fluid .span10 {
        width: 74.4681%;
    }
}
