#register-modal {
    width: 900px;
    margin-left: -450px;
}

#register-form {
    margin: 0;
}

#register-username-controls {
    position: relative;
}

#register-username-available {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 18px;
}

#register-username-available.icon-remove {
    color: #8F0222;
}

#register-captcha {
    position: relative;
    min-height: 30px;
    margin: 10px 0 0;
}

#register-captcha-error {
    margin-top: 3px;
}

#register-accept-and-create-container {
    margin-top: 10px;
}

#register-accept-and-create-container label {
    display: inline-block;
    margin-bottom: 40px;
}

#register-create-account {
    bottom: 30px;
    display: block;
    position: absolute;
    right: 26px;
}

#register-terms-and-conditions {
    font-weight: bold;
    padding: 0px 0 0 3px;
}

#register-terms-and-conditions-container .well {
    margin-bottom: 0;
    max-height: 340px;
    overflow: auto;
}

#register-accept-and-create-container label.vle-error {
    margin-bottom: 0;
}

#register-captcha.control-group .controls {
    margin-left: 50px;
}

/* Recaptcha overrides */
.recaptchatable {
    background-color: #FFF;
}

.recaptchatable #recaptcha_response_field {
    font-size: 14px !important;
}
