#setpermissions-container h4 {
    margin-top: 12px;
}

#setpermissions-container h4:first-child {
    margin-top: 0;
}

#setpermissions-container input[type='radio'] {
    margin-right: 7px;
}

#setpermissions-footer {
    margin-left: -10px;
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
}
