<div class="row-fluid" data-id="library">
	<div class="span12">
		<div id="lhnavigation-page-contentlibrary">
			<div id="contentlibrary-widget" class="vle-list-container">
			    <div class="vle-list-options">
			        <div>
			            <button class="btn vle-list-options-toggle">
			                <h2>Library<i class="icon-caret-down"></i></h2>
			            </button>
			            <div class="pull-right">
			                <form class="form-search" id="contentlibrary-search-form">
			                    <label class="vle-aural-text" for="contentlibrary-search-query">Narrow by keyword</label>
			                    <input type="text" id="contentlibrary-search-query" class="search-query" placeholder="Narrow by keyword"/>
			                </form>
			            </div>
			        </div>
			        <div class="vle-list-options-actions hide"><!-- --></div>
			    </div>
    			<ul class="vle-list vle-list-grid"><!-- --></ul>
			</div>
		</div>
	</div>
</div>