<div class="row-fluid" data-id="members">
	<div class="span12">
		<div id="lhnavigation-page-members">
			<div id="members-widget">
				<div class="vle-list-options">
					<div>
						<button class="btn vle-list-options-toggle">
							<h2>
								Members <i class="icon-caret-down"></i>
							</h2>
						</button>
						<div class="pull-right">
							<form class="form-search" id="members-search-form">
								<label class="vle-aural-text" for="members-search-query">Narrow
									by keyword</label> <input type="text" id="members-search-query"
									class="search-query" placeholder="Narrow by keyword" />
							</form>
						</div>
					</div>
					<div class="vle-list-options-actions clearfix hide">
						<div class="btn-group pull-right">
							<button class="btn" data-type="vle-list-compact">
								<i class="icon-list"></i> <span class="vle-aural-text">List
									view</span>
							</button>
							<button class="btn" data-type="vle-list-details">
								<i class="icon-th-list"></i> <span class="vle-aural-text">Expanded
									list view</span>
							</button>
							<button class="btn active" data-type="vle-list-grid">
								<i class="icon-th-large"></i> <span class="vle-aural-text">Grid
									view</span>
							</button>
						</div>
					</div>
				</div>
				<ul class="vle-list vle-list-grid" aria-live="assertive">
					<li class="vle-list-actions vle-list-actions-multiple">
						<div class="vle-thumbnail vle-thumbnail-large icon-vle-user"></div>
						<ul>
							<li>
								<button type="button" class="btn group-trigger-manageaccess-add" ng-click="addMembers()">
									<i class="icon-plus-sign pull-left"></i>Add members
								</button>
							</li>
							<li>
								<button type="button" class="btn group-trigger-manageaccess" ng-click="manageAccess()">
									<i class="icon-lock pull-left"></i>Manage access
								</button>
							</li>
						</ul>
					</li>
					<li ng-repeat="groupUser in group.groupUsers">

						<div class="vle-list-grid-item">
							<div class="vle-tile">
								<div class="vle-thumbnail vle-thumbnail-large icon-vle- icon-vle-user">
									<a href="/user" title="{{groupUser.user.displayName}}"> </a>
								</div>

								<div class="vle-tile-metadata">
									<h3 class="vle-threedots">
										<a href="/user" title="{{groupUser.user.displayName}}" ng-bind="groupUser.user.displayName"></a>
									</h3>
									<small class="vle-threedots" th:attr="ng-bind= 'groupUser.role.id == 4 &amp;&amp; \'Manager\' || \'Member\''"></small>

								</div>
							</div>

						</div>


						<div class="vle-list-details-item">
							<div class="vle-listitem">
								<div class="vle-thumbnail icon-vle- icon-vle-user">
									<a href="/user" title="{{groupUser.user.displayName}}"> </a>
								</div>

								<div>
									<h3 class="vle-threedots">
										<a href="/user" title="{{groupUser.user.displayName}}" ng-bind="groupUser.user.displayName"></a>
									</h3>
									<small class="vle-threedots" th:attr="ng-bind= 'groupUser.role.id == 4 &amp;&amp; \'Manager\' || \'Member\''"></small>

								</div>
							</div>
						</div>


						<div class="vle-list-compact-item">
							<div class="vle-listitem vle-listitem-compact">
								<div class="vle-thumbnail icon-vle- icon-vle-user"
									data-id="u:oae:xJgTBdtQri">
									<a href="/user/oae/xJgTBdtQri" title="{{groupUser.user.displayName}}"> </a>
								</div>

								<div>
									<h3 class="vle-threedots">
										<a href="/user" title="{{groupUser.user.displayName}}" ng-bind="groupUser.user.displayName"></a>
									</h3>
									<small class="vle-threedots" th:attr="ng-bind= 'groupUser.role.id == 4 &amp;&amp; \'Manager\' || \'Member\''"></small>

								</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="text-center hide" style="clear: both; display: none;">
					<i class="icon-spinner icon-spin"><span class="vle-aural-text">Loading
							...</span></i>
				</div>
			</div>
		</div>
	</div>
</div>

