<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="navlocal :: topNavHeadLocal('Group Place', 'group')" />


<body ng-controller="GroupController">

<!-- HEADER -->
<div id="topnavigation">
	<div id="topnavigation_container" th:include="layout :: topNavContainerLoggedIn"></div> 
</div>
<h1 id="topnavigation_target" class="vle-aural-text">Content begins here</h1>
<!-- BODY -->
        <div class="vle-main-content">

            <!-- CLIPS -->
            <div class="vle-clip-container">
                <div id="group-clip-container" class="vle-clip-container-left"><!-- --></div>
                <div id="group-clip-template">
                    <div class="vle-clip">
                        <div class="vle-clip-fold">
                            <div class="vle-clip-fold-inner"></div>
                            <div class="vle-clip-fold-outer"></div>
                        </div>
                        <div class="vle-clip-content">
                            <button type="button">
                                 <div class="vle-thumbnail icon-vle- icon-vle-group">
							              <i class="icon-vle-loggedin"></i>
							     </div>
                                <div>
                                    <div>
                                        <h1 class="vle-threedots" ng-bind="group.name"></h1>
                                        <i class="icon-caret-down"></i>
                                        <small>Group</small>
                                    </div>
                                </div>
                            </button>
                            <div>
                                <ul>
                                    <li><button class="vle-trigger-changepic"><i class="icon-camera"></i>Change picture</button></li>
                                    <li><button class="group-trigger-manageaccess"  ng-click="manageAccess()"><i class="icon-user"></i>Manage access</button></li>
                                    <li><button class="group-trigger-editgroup"><i class="icon-pencil"></i>Edit details</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="group-join-actions" class="vle-clip-container-right hide">
                    <div class="vle-clip vle-clip-secondary vle-clip-flipped">
                        <div class="vle-clip-fold">
                            <div class="vle-clip-fold-inner"></div>
                            <div class="vle-clip-fold-outer"></div>
                        </div>
                        <div class="vle-clip-content">
                            <button type="button" class="group-join">
                                <div>
                                    <i class="icon-pushpin pull-left"></i>
                                    <h1>Join Group</h1>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>

                <div id="group-member-actions" class="vle-clip-container-right">
                    <div class="vle-clip vle-clip-flipped vle-dnd-upload">
                        <div class="vle-clip-fold">
                            <div class="vle-clip-fold-inner"></div>
                            <div class="vle-clip-fold-outer"></div>
                        </div>
                        <div class="vle-clip-content">
                            <button type="button" class="vle-trigger-upload">
                                <div>
                                    <i class="icon-cloud-upload pull-left"></i>
                                    <h1>Upload</h1>
                                </div>
                            </button>
                        </div>
                    </div>

                    <div class="vle-clip vle-clip-secondary vle-clip-flipped">
                        <div class="vle-clip-fold">
                            <div class="vle-clip-fold-inner"></div>
                            <div class="vle-clip-fold-outer"></div>
                        </div>
                        <div class="vle-clip-content">
                            <button>
                                <div>
                                    <i class="icon-plus-sign pull-left"></i>
                                    <h1>Create</h1>
                                    <i class="icon-caret-down"></i>
                                </div>
                            </button>
                            <div>
                                <ul>
                                    <li><button class="vle-trigger-createlink"><i class="icon-link"></i>Link</button></li>
                                    <li><button class="vle-trigger-createcollabdoc"><i class="icon-edit"></i>Document</button></li>
                                    <li><button class="vle-trigger-creatediscussion"><i class="icon-comments"></i>Discussion</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- JOIN GROUP VIEW -->
            <div id="group-join-view" class="hide">
                <div id="group-join-container">
                    <div id="group-join" class="text-center">
                        <div>You need to join this group to be able to see its content.</div>
                        <button type="button" class="btn group-join">
                            <i class="icon-pushpin pull-left"></i> Join group
                        </button>
                    </div>
                </div>
            </div>
            <!-- GROUP CONTENT -->
            <div id="lhnavigation">
            	<div id="lhnavigation-container" class="row-fluid">
				<div class="span2">
					<div id="lhnavigation-navigation">
						<ul class="nav nav-list">
            				<li data-id="activity">
	                			<a ng-href="#/activity/{{group.id}}">
		                    		<i class="icon-dashboard"></i>
		                    		Recent activity
	                			</a>
            				</li>
				            <li data-id="library">
				                <a ng-href="#/library/{{group.id}}">
				                    <i class="icon-briefcase"></i>
				                    Library
				                </a>
				            </li>
				            <li data-id="discussions" class="">
				                <a ng-href="#/discussions/{{group.id}}">
				                    <i class="icon-comments"></i>
				                    Discussions
				                </a>
				            </li>
				            <li data-id="members" class="active">
				                <a ng-href="#/members/{{group.id}}">
				                    <i class="icon-user"></i>
				                    Members
				                </a>
				            </li>
    					</ul>
					</div>
				</div>
				<div id="lhnavigation-page" class="span10" th:include="layout :: leftHandPages">
					<div ng-view=""></div>
				</div>
			</div>
            </div>
        </div>

        <!-- FOOTER -->
        <div data-widget="footer"><!-- --></div>

        <!-- JAVASCRIPT -->
        <script th:attr="data-main=@{/static/js/vle/api/vle.bootstrap.js},data-loadmodule=@{/static/js/group.js}" th:src="@{/static/js/vendor/requirejs/require.js}"></script>

<script type="text/ng-template" class="template" id="AddMembersTemplate">
<div id="manageaccess-modal" class="modal hide fade in" tabindex="-1"
	role="dialog" aria-labelledby="manageaccess-modal-title"
	aria-hidden="false" style="display: block;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">&#215;</button>
		<h3 id="manageaccess-modal-title">Manage access {{view}}</h3>
	</div>
	<div class="modal-body">
		<div id="manageaccess-overview" ng-if="view == 'access'" >
			<h4>Visibility</h4>
			<div id="manageaccess-overview-visibility" class="well">
				<button id="manageaccess-change-visibility" class="btn pull-right">Change</button>
				<div id="manageaccess-overview-visibility-container">
					<i class="icon-vle-loggedin pull-left"></i> <span> Open
						Academic Environment </span>
				</div>
			</div>
			<h4>
				<span id="manageaccess-overview-shared-title">Group members</span>
				<button id="manageaccess-share-add-more"
					class="btn btn-small pull-right" ng-click="showView('member')">
					<i class="icon-plus-sign"></i> Add more
				</button>
			</h4>
			<div id="manageaccess-overview-shared" class="well">
				<ul id="manageaccess-overview-selected"
					class="vle-list vle-list-compact" aria-live="assertive">
					<li ng-repeat="groupUser in group.groupUsers">
						<div class="vle-list-compact-item">
							<div class="vle-listitem vle-listitem-compact">
								<div class="vle-listitem-actions pull-right">
									<button type="button" title="Remove {{groupUser.user.displayName}} from the list of members" class="close" ng-click="deleteMember(groupUser.user.id)">&#215;</button>
									<label for="manageaccess-u:oae:xJgTBdtQri-role"
										class="vle-aural-text" ng-bind="'Select role for '+groupUser.user.displayName"></label> 
									<select ng-model="groupUser.role.id" ng-options="memberRole.id as memberRole.name for memberRole in memberRoles">
									</select>
								</div>


								<div class="vle-thumbnail icon-vle- icon-vle-user">
									<a href="/user/oae/xJgTBdtQri" title="{{groupUser.user.displayName}}"> </a>
								</div>

								<div>
									<h3 class="vle-threedots" ng-bind="groupUser.user.displayName"></h3>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="text-center hide" style="clear: both; display: none;">
					<i class="icon-spinner icon-spin"><span class="vle-aural-text">Loading
							...</span></i>
				</div>
			</div>
		</div>
		<div id="manageaccess-visibility" class="hide" style="display: none;">
			<!-- -->
		</div>
		<div id="manageaccess-share" ng-if="view == 'member'">
			<h4>Select users and groups to add</h4>
			<div>
				<input type="text" id="manageaccess-share-autosuggest" placeholder="Enter name here"/>
			</div>
			<select id="manageaccess-share-role" class="pull-right">
				<option ng-value="5">Member</option>
				<option ng-value="4">Manager</option>
			</select>
			<h4>
				<label for="manageaccess-share-role" class="pull-right">Add
					these as</label>
			</h4>
		</div>
	</div>
	<div class="modal-footer">
		<div id="manageaccess-overview-footer"  ng-if="view == 'access'">
			<button class="btn btn-link pull-left" data-dismiss="modal">Cancel</button>
			<button id="manageaccess-overview-save"
				class="btn btn-primary pull-right" ng-click="updateGroupMembers()">Save</button>
		</div>
		<div id="manageaccess-visibility-footer" class="hide"
			style="display: none;">
			<button class="manageaccess-cancel btn btn-link pull-left">Cancel</button>
			<button id="manageaccess-visibility-save"
				class="btn btn-primary pull-right">Update</button>
		</div>
		<div id="manageaccess-share-footer"  ng-if="view == 'member'">
			<button class="manageaccess-cancel btn btn-link pull-left" ng-click="showView('access')">Cancel</button>
			<button id="manageaccess-share-update"
				class="btn btn-primary pull-right" ng-click="addMember()" disabled="true">Add</button>
		</div>
	</div>
</div>
</script>

    </body>
</html>
