<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <!-- CORE CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{static/css/core.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{static/css/skin.css}" />

        <!-- PAGE CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{static/css/index.css}"/>
        
  		<title>VLE kmbs - logged in page</title>
    </head>


    <body>

        <!-- HEADER -->
        <div id="topnavigation_loggedin"><!-- --></div>

        body of index for logged-in user here

    </body>

</html>
