<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="common :: commonHeader('Anonymous Index')">
    </head>


    <body>

        <!-- HEADER -->
        <div id="topnavigation_anonymous"><!-- --></div>

        <div id="index-container" class="branding-container main-content">
            <div id="index-content">
                <div class="row-fluid">
                    <div class="span12 panel-tertiary index-search-container">
                        <form id="index-search-form" class="form-inline">
                            <label for="index-search-query" class="aural-text">Search</label>
                            <input type="text" id="index-search-query" class="input-xxlarge pull-left span9" title="Search for content, people and groups" />
                            <button type="submit" class="btn btn-primary btn-large" title="Search">Search</button>
                        </form>
                    </div>
                </div>
                <div class="row-fluid">
                    <div id="index-video-container" class="span7 text-center">
                        <button type="button" id="index-video-launch" class="oae-trigger-productvideo btn btn-link" title="Play video">
                            <i class="icon-play-circle active"><span class="aural-text">Play video</span></i>
                        </button>
                    </div>
                    <div class="span5 panel-primary">
                        <h1 id="index-slogan">Середовище співпраці спільноти kmbs</h1>
                        <p id="index-slogan-description">Інструментарій взаємодії спільноти kmbs над навчальними, бізнес- та соціальними проектами</p>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 panel-secondary index-bottom">
                        <i class="icon-edit pull-left"></i>
                        <h2 class="index-bottom-slogan">Якісний навчальний контент</h2>
                        <p class="index-bottom-description">Створення і підтримка якісного і ретельно відібраного навчального контенту</p>
                    </div>
                    <div class="span4 panel-secondary index-bottom">
                        <i class="icon-comments pull-left"></i>
                        <h2 class="index-bottom-slogan">Підсилення комунікації</h2>
                        <p class="index-bottom-description">Персоналізація середовища спілкування і розвитку через якісну роботу над своєю мережею</p>
                    </div>
                    <div class="span4 panel-secondary index-bottom">
                        <i class="icon-cloud-download pull-left"></i>
                        <h2 class="index-bottom-slogan">Доступ до матеріалів</h2>
                        <p class="index-bottom-description">Розширений доступ до навчальних і дослідницьких матеріалів, які постійно поповнюються</p>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>
