<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

	<div th:fragment="indexContainerAnon">
		<div id="index-content">
			<div class="row-fluid">
				<div class="span12 panel-tertiary index-search-container">
					<form id="index-search-form" class="form-inline">
						<label for="index-search-query" class="aural-text">Search</label>
						<input type="text" id="index-search-query"
							class="input-xxlarge pull-left span9"
							title="Search for content, people and groups" />
						<button type="submit" class="btn btn-primary btn-large"
							title="Search">Search</button>
					</form>
				</div>
			</div>
			<div class="row-fluid">
				<div id="index-video-container" class="span7 text-center">
					<button type="button" id="index-video-launch"
						class="oae-trigger-productvideo btn btn-link" title="Play video">
						<i class="icon-play-circle active"><span class="aural-text">Play
								video</span></i>
					</button>
				</div>
				<div class="span5 panel-primary">
					<h1 id="index-slogan"  th:text="#{msg.label.home.main.title}">Середовище співпраці спільноти kmbs</h1>
					<p id="index-slogan-description" th:text="#{msg.label.home.main.description}">Інструментарій взаємодії
						спільноти kmbs над навчальними, бізнес- та соціальними проектами</p>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span4 panel-secondary index-bottom">
					<i class="icon-edit pull-left"></i>
					<h2 class="index-bottom-slogan" th:text="#{msg.label.home.content.title}">Якісний навчальний контент</h2>
					<p class="index-bottom-description" th:text="#{msg.label.home.content.description}">Створення і підтримка
						якісного і ретельно відібраного навчального контенту</p>
				</div>
				<div class="span4 panel-secondary index-bottom">
					<i class="icon-comments pull-left"></i>
					<h2 class="index-bottom-slogan" th:text="#{msg.label.home.communication.title}">Підсилення комунікації</h2>
					<p class="index-bottom-description" th:text="#{msg.label.home.communication.description}">Персоналізація середовища
						спілкування і розвитку через якісну роботу над своєю мережею</p>
				</div>
				<div class="span4 panel-secondary index-bottom">
					<i class="icon-cloud-download pull-left"></i>
					<h2 class="index-bottom-slogan" th:text="#{msg.label.home.materials.title}">Доступ до матеріалів</h2>
					<p class="index-bottom-description" th:text="#{msg.label.home.materials.description}">Розширений доступ до
						навчальних і дослідницьких матеріалів, які постійно поповнюються</p>
				</div>
			</div>
		</div>
	</div>

	<div th:fragment="topNavContainerLoggedIn">
		<!-- NAVIGATION -->
		<div class="row-fluid">
			<!-- LEFT MENU -->
			<div id="topnavigation_left" class="span5">
				<ul class="inline topnavigation-menu-buttons">
					<li><a href="/me" class="btn btn-link" title="Home"> <i
							class="icon-home"><span class="aural-text">Home</span></i>
					</a></li>
					<li>
						<button type="button"
							class="btn btn-link oae-trigger-notifications"
							title="Notifications">
							<i class="icon-bullhorn"><span class="aural-text">Notifications</span></i>
							<span id="topnavigation-notification-count"
								class="badge badge-important">1</span>
						</button>
					</li>
				</ul>
			</div>
			<!-- LOGO -->
			<div id="topnavigation_center" class="span2 text-center">
				<a href="/" class="institutional-logo"
					title="kmbs Virtual Learning Environment"> <span
					class="aural-text">kmbs Virtual Learning Environment</span>
				</a>
			</div>
			<!-- RIGHT MENU -->
			<div id="topnavigation_right" class="span5 text-right">
				<a href="?lang=uk">uk</a>|<a href="?lang=en">en</a>
				<!-- SEARCH -->
				<form id="topnavigation_search_form" class="navbar-search">
					<label for="topnavigation_search_query" class="aural-text">Search</label>
					<input type="text" id="topnavigation_search_query"
						class="search-query"
						title="Search for documents, files, links, people and groups" />
					<button type="submit" id="topnavigation_search_icon"
						class="btn btn-link">
						<i class="icon-search"><span class="aural-text">Search</span></i>
					</button>
					<button type="button" id="topnavigation-signout" th:onclick="'javascript:window.location.assign(\'' + @{'/j_spring_security_logout'} + '\');'" 
						class="btn btn-link" title="Sign out">
						<i class="icon-signout"><span class="aural-text">Sign
								out</span></i>
					</button>

				</form>
			</div>
		</div>
	</div>

	<div th:fragment="topNavContainerAnon">
		<!-- NAVIGATION -->
		<div class="row-fluid">
			<!-- LEFT MENU -->
			<div id="topnavigation_left" class="span5">
				<!-- -->
				<button type="button" class="btn btn-link trigger-register">Membership
					request</button>
			</div>
			<!-- LOGO -->
			<div id="topnavigation_center" class="span2 text-center">
				<a href="/" class="institutional-logo"
					title="kmbs Virtual Learning Environment"> <span
					class="aural-text">kmbs Virtual Learning Environment</span>
				</a>
			</div>
			<!-- RIGHT MENU -->
			<div id="topnavigation_right" class="span5 text-right">
				<a href="?lang=uk">uk</a>|<a href="?lang=en">en</a>
				<!-- SEARCH -->
				<form id="topnavigation_search_form" class="navbar-search">
					<label for="topnavigation_search_query" class="aural-text">Search</label>
					<input type="text" id="topnavigation_search_query"
						class="search-query"
						title="Search for documents, files, links, people and groups" />
					<button type="submit" id="topnavigation_search_icon"
						class="btn btn-link">
						<i class="icon-search"><span class="aural-text">Search</span></i>
					</button>
				</form>

				<!-- SIGN IN FORM -->
				<ul class="pull-right inline topnavigation-menu-buttons">
					<li class="dropdown">
						<button type="button" id="topnavigation-signin"
							class="btn btn-link dropdown-toggle" data-toggle="dropdown">Sign
							in</button>
						<div id="topnavigation-signin-dropdown"
							class="dropdown-menu pull-right text-left topnavigation-signin-dropdown-single">
							<div class="row-fluid">
								<div id="topnavigation-signin-internal" class="span12">
									<form id="topnavigation-signin-form">
										<div class="control-group">
											<label for="topnavigation-signin-username"
												class="control-label">Username</label> <input
												id="topnavigation-signin-username"
												name="j_username" type="text"
												class="input-block-level required" maxlength="255" />
										</div>
										<div class="control-group">
											<label for="topnavigation-signin-password"
												class="control-label">Password</label> <input
												id="topnavigation-signin-password"
												name="j_password" type="password"
												class="input-block-level required" maxlength="255" />
										</div>
										<div id="topnavigation-login-actions">
											<button id="topnavigation-signin-button"
												class="btn btn-primary pull-right" type="button" onclick="login();">Sign
												in</button>
											<span id="topnavigation-signin-signing-in"
												class="hide pull-right">Signing in...</span>
										</div>
									</form>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div th:fragment="meClipTemplate">
		<div class="clip">
			<div class="clip-fold">
				<div class="clip-fold-inner"></div>
				<div class="clip-fold-outer"></div>
			</div>
			<div class="clip-content">
				<button type="button">
					<div>
						<div>
							<h1 class="threedots">Віктор Котусенко</h1>
							<i class="icon-caret-down"></i> <small>учасник EMBA19</small>
						</div>
					</div>
				</button>
				<div>
					<ul>
						<li><button class="trigger-changepic">
								<i class="icon-camera"></i><div th:text="#{msg.label.clip.content.myphoto}">Моє фото</div>
							</button></li>
						<li><button class="trigger-editprofile">
								<i class="icon-user"></i><div th:text="#{msg.label.clip.content.myprofile}">Мій профіль</div>
							</button></li>
						<li><button class="trigger-accountpreferences">
								<i class="icon-wrench"></i><div th:text="#{msg.label.clip.content.mysettings}">Мої налаштування</div>
							</button></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div th:fragment="downloadClip">
		<div class="clip-fold">
			<div class="clip-fold-inner"></div>
			<div class="clip-fold-outer"></div>
		</div>
		<div class="clip-content">
			<button type="button" class="trigger-upload">
				<div>
					<i class="icon-cloud-upload pull-left"></i>
					<h1 th:text="#{msg.label.clip.download.downloadbutton}">Завантажити</h1>
				</div>
			</button>
		</div>
	</div>

	<div th:fragment="rightSideClip">
		<div class="clip-fold">
			<div class="clip-fold-inner"></div>
			<div class="clip-fold-outer"></div>
		</div>
		<div class="clip-content">
			<button type="button">
				<div>
					<i class="icon-plus-sign pull-left"></i>
					<h1 th:text="#{msg.label.clip.rightside.adddbutton}">Додати</h1>
					<i class="icon-caret-down"></i>
				</div>
			</button>
			<div>
				<ul>
					<li><button class="trigger-creategroup">
							<i class="icon-group"></i><div th:text="#{msg.label.clip.rightside.creategroup}">Групу</div>
						</button></li>
					<li><button class="trigger-createlink">
							<i class="icon-link"></i><div th:text="#{msg.label.clip.rightside.createlink}">Посилання</div>
						</button></li>
					<li><button class="trigger-createcollabdoc">
							<i class="icon-edit"></i><div th:text="#{msg.label.clip.rightside.createdocument}">Документ</div>
						</button></li>
					<li><button class="trigger-creatediscussion">
							<i class="icon-comments"></i><div th:text="#{msg.label.clip.rightside.creatediscussion}">Дискусію</div>
						</button></li>
				</ul>
			</div>
		</div>
	</div>


	<div th:fragment="leftHandNavMenu">
		<ul class="nav nav-list">
			<li id="dashboard"><a href="#/dashboard"><i
					class="icon-dashboard"></i><span th:text="#{msg.label.lefthandmenu.item.dashboard}">Оновлення</span>
			</a></li>
			<li id="courses"><a href="#/courses"> <i
					class="icon-bell"></i><span th:text="#{msg.label.lefthandmenu.item.courses}">Навчання</span>
			</a></li>
			<li id="calendar"><a href="#/calendar"> <i
					class="icon-calendar"></i><span th:text="#{msg.label.lefthandmenu.item.calendar}">Календар</span>
			</a></li>
			<li id="content"><a href="#/content"> <i
					class="icon-briefcase"></i><span th:text="#{msg.label.lefthandmenu.item.content}">Бібліотека</span>
			</a></li>
			<li id="discussions"><a href="#/discussions"> <i
					class="icon-comments"></i><span th:text="#{msg.label.lefthandmenu.item.discussions}">Обговорення</span>
			</a></li>
			<li id="groups"><a href="#/groups"> <i
					class="icon-group"></i><span th:text="#{msg.label.lefthandmenu.item.groups}">Групи</span>
			</a></li>
			<li id="network"><a href="#/network"> <i
					class="icon-random"></i><span th:text="#{msg.label.lefthandmenu.item.network}">Мережа</span>
			</a></li>
		</ul>
	</div>

	<div th:fragment="leftHandPages">
		<div ng-view=""></div>
	</div>

	<div th:fragment="coursesListOptionsActions">
		<input type="checkbox" id="courses-selectall"
			class="vle-list-selectall" /> <label for="courses-selectall"
			class="aural-text">Вибрати всі</label>
		<button type="button" class="btn trigger-assignments"
			disabled="disabled" data-resourceType="course">
			<i class="icon-pencil pull-left"></i>Завдання
		</button>
		<button type="button" class="btn trigger-comments" disabled="disabled"
			data-resourceType="course">
			<i class="icon-comments pull-left"></i>Коментарі
		</button>

		<div class="btn-group pull-right">
			<button class="btn" data-type="vle-list-compact">
				<i class="icon-list"></i> <span class="aural-text">Список</span>
			</button>
			<button class="btn" data-type="vle-list-details">
				<i class="icon-th-list"></i> <span class="aural-text">Розширений
					список</span>
			</button>
			<button class="btn active" data-type="vle-list-grid">
				<i class="icon-th-large"></i> <span class="aural-text">Решітка</span>
			</button>
		</div>
	</div>


	<div th:fragment="contentListOptionsActions">
		<input type="checkbox" id="content-selectall"
			class="vle-list-selectall" /> <label for="content-selectall"
			class="aural-text">Вибрати все</label>
		<button type="button" class="btn trigger-share" disabled="disabled"
			data-resourceType="discussion">
			<i class="icon-share pull-left"></i>Поділитися
		</button>
		<button type="button" class="btn trigger-deleteresources"
			disabled="disabled" data-resourceType="discussion">
			<i class="icon-trash pull-left"></i>Видалити
		</button>

		<div class="btn-group pull-right">
			<button class="btn" data-type="vle-list-compact">
				<i class="icon-list"></i> <span class="aural-text">Список</span>
			</button>
			<button class="btn" data-type="vle-list-details">
				<i class="icon-th-list"></i> <span class="aural-text">Розширений
					список</span>
			</button>
			<button class="btn active" data-type="vle-list-grid">
				<i class="icon-th-large"></i> <span class="aural-text">Решітка</span>
			</button>
		</div>
	</div>


	<div th:fragment="discussionsListOptionsActions">
		<input type="checkbox" id="discussions-selectall"
			class="vle-list-selectall" /> <label for="discussions-selectall"
			class="aural-text">Вибрати все</label>
		<button type="button" class="btn trigger-share" disabled="disabled"
			data-resourceType="discussion">
			<i class="icon-share pull-left"></i>Поділитися
		</button>
		<button type="button" class="btn trigger-deleteresources"
			disabled="disabled" data-resourceType="discussion">
			<i class="icon-trash pull-left"></i>Видалити
		</button>

		<div class="btn-group pull-right">
			<button class="btn" data-type="vle-list-compact">
				<i class="icon-list"></i> <span class="aural-text">Список</span>
			</button>
			<button class="btn" data-type="vle-list-details">
				<i class="icon-th-list"></i> <span class="aural-text">Розширений
					список</span>
			</button>
			<button class="btn active" data-type="vle-list-grid">
				<i class="icon-th-large"></i> <span class="aural-text">Решітка</span>
			</button>
		</div>
	</div>


	<div th:fragment="groupsListOptionsActions">
		<input type="checkbox" id="groups-selectall"
			class="vle-list-selectall" /> <label for="groups-selectall"
			class="aural-text">Вибрати всі</label>
		<button type="button" class="btn trigger-leavegroup"
			disabled="disabled" data-resourceType="discussion">
			<i class="icon-minus-sign pull-left"></i>Вийти з групи
		</button>

		<div class="btn-group pull-right">
			<button class="btn" data-type="vle-list-compact">
				<i class="icon-list"></i> <span class="aural-text">Список</span>
			</button>
			<button class="btn" data-type="vle-list-details">
				<i class="icon-th-list"></i> <span class="aural-text">Розширений
					список</span>
			</button>
			<button class="btn active" data-type="vle-list-grid">
				<i class="icon-th-large"></i> <span class="aural-text">Решітка</span>
			</button>
		</div>
	</div>

	<div th:fragment="activityNoResults">
		<div class="alert alert-info">Наразі ще не відбулося оновлень</div>
	</div>


	<div th:fragment="coursesNoResults">
		<div class="alert alert-info">Наразі у вашому навчальному
			процесі ще не відбулося оновлень</div>
	</div>


	<div th:fragment="contentNoResults">
		<div class="alert alert-info">У вашій бібліотеці ще немає
			матеріалів</div>
	</div>


	<div th:fragment="discussionsNoResults">
		<div class="alert alert-info">У вас ще немає поточних обговорень
		</div>
	</div>


	<div id="memberships-noresults-template">
		<div class="alert alert-info">Наразі ви не підписані на жодну
			групу</div>
	</div>


	<div id="network-friends-noresults-template">
		<div class="alert alert-info">У вас ще немає друзів у мережі
			mykmbs</div>
	</div>


	<div id="network-requests-noresults-template">
		<div class="alert alert-info">Наразі запитів від членів мережі
			mykmbs немає</div>
	</div>

</body>
</html>

