
		<div class="row-fluid" id="network">
			<div class="span12">
				<div id="lhnavigation-page-network">
					<div id="network-widget" class="vle-list-container">
						<div class="vle-list-options">
							<div>
								<button class="btn vle-list-options-toggle">
									<h2>
										Мережа <i class="icon-caret-down"></i>
									</h2>
								</button>
								<div class="pull-right">
									<form class="form-search" id="network-search-form">
										<label class="aural-text" for="network-search-query">Звузити
											пошук</label> <input type="text" id="network-search-query"
											class="search-query" placeholder="Звузити пошук" />
									</form>
								</div>
							</div>
							<div class="vle-list-options-actions clearfix hide">
								<!-- -->
							</div>
						</div>
						<div id="network-tab-container">
							<!-- Defines the available tabs (following and follower) -->
							<ul class="nav nav-tabs">
								<li class="active"><a href="#network-friends"
									data-toggle="tab" data-type="friends">Друзі</a></li>
								<li><a href="#network-requests" data-toggle="tab"
									data-type="requests">Запити</a></li>
							</ul>
						</div>

						<!-- Content associated to the tabs -->
						<div class="tab-content">
							<div id="network-friends" class="tab-pane active">
								<ul class="vle-list vle-list-grid">
									<!-- -->
									<li>список моїх друзів</li>
								</ul>
							</div>
							<div id="network-requests" class="tab-pane">
								<ul class="vle-list vle-list-grid">
									<!-- -->
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
