<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <!-- CORE CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{static/css/core.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{static/css/skin.css}" />

    </head>

    <body>

        <!-- HEADER -->
        <div id="topnavigation_loggedin"><!-- --></div>

        <!-- BODY -->
        <div class="main-content">

            <!-- CLIPS -->
            <div class="clip-container">
                <div id="me-clip-container" class="clip-container-left"><!-- --></div>
                <div id="right-second-clips-container" class="clip-container-right"><!-- --></div>
            </div>

            <!-- CONTENT -->
            <div id="lhnavigation"><!-- --></div>
        </div>

        <!-- FOOTER -->
        <div id="footer"><!-- --></div>

    </body>

</html>
