<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="common :: commonHeader('My Environment')" />


    <body>

        <!-- HEADER -->
        <div id="topnavigation_loggedin"><!-- --></div>

        <!-- BODY -->
        <div class="main-content">

            <!-- CLIPS -->
            <div class="clip-container">
                <div id="me-clip-container" class="clip-container-left"><!-- --></div>
                <div id="right-second-clips-container" class="clip-container-right"><!-- --></div>
            </div>

            <!-- CONTENT -->
            <div id="lhnavigation"><!-- --></div>
        </div>

        <!-- FOOTER -->
        <div id="footer"><!-- --></div>

    </body>

</html>
