<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="topNavHeadJs(title,jsname)">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

      <link rel="stylesheet" type="text/css" th:href="@{static/css/core.css}" />
      <link rel="stylesheet" type="text/css" th:href="@{static/css/skin.css}" />
      <link rel="stylesheet" type="text/css" th:href="@{static/css/topnavigation.css}" />

<script type="text/javascript"
	src="http://code.jquery.com/jquery-1.11.0.min.js"
	th:src="@{/static/js/vendor/jquery.js}"></script>
	
<script type="text/javascript"
	th:attr="src='static/js/' + ${jsname} + .js"></script>
		        
<title th:text = "${title}"></title>
</head>
<body>
	

	
</body>
</html>